go 1.21.6

use (
	./code/random/binary_tree_mirror/go
	./code/spoj/aba12c/go
	./code/spoj/acido/go
	./code/spoj/chocopj09/go
	./code/spoj/obitetri/go
    ./code/spoj/placar/go
	./code/spoj/rouba/go
	./code/spoj/test/go
    ./code/freecodecamp/fibonnaci/go
    ./code/freecodecamp/numbers_cansum/go
)