go 1.21.6

use (
	./code/spoj_obitetri
	./code/spoj_placar
	./code/spoj_aba12c/go
	./code/spoj_test/go
	./code/spoj_chocopj09/go
    ./code/freecodecamp/fibonnaci/go
    ./code/freecodecamp/numbers_cansum/go
)
